In [4]:
#KNN and SvM algorithm for predicting heart disease
import pandas as pd
import numpy as np

In [16]:
dataframe = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [17]:
dataframe=dataframe.dropna()
dataframe=dataframe.dropna(axis=1)
# removing null values
dataframe.pop("gender")

0         Male
2         Male
3       Female
4       Female
5         Male
         ...
5104    Female
5106    Female
5107    Female
5108      Male
5109    Female
Name: gender, Length: 4909, dtype: object

In [18]:
dataframe.shape

(4909, 6)

In [19]:
#dataframe['target_hyper'].unique()

dataframe

       age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0     67.0             0              1             228.69  36.6       1
2     80.0             0              1             105.92  32.5       1
3     49.0             0              0             171.23  34.4       1
4     79.0             1              0             174.12  24.0       1
5     81.0             0              0             186.21  29.0       1
...    ...           ...            ...                ...   ...     ...
5104  13.0             0              0             103.08  18.6       0
5106  81.0             0              0             125.20  40.0       0
5107  35.0             0              0              82.99  30.6       0
5108  51.0             0              0             166.29  25.6       0
5109  44.0             0              0              85.28  26.2       0

[4909 rows x 6 columns]

In [9]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\anaconda3\lib\site-packages (0.24.1)
Requirement already satisfied: joblib>=0.11 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn) (1.6.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\asus\anaconda3\lib\site-packages (from scikit-learn) (1.20.1)

In [27]:
features = dataframe.iloc[:, :-5].values
labels = dataframe.iloc[:, -5].values

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(features, labels)

In [30]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3681, 1), (1228, 1), (3681,), (1228,))

In [31]:
from sklearn.neighbors import KNeighborsClassifier

In [32]:
knn = KNeighborsClassifier().fit(X_train, y_train)

In [33]:
y_pred = knn.predict(X_test)

In [34]:
from sklearn.metrics import classification_report

In [35]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.96      0.92      0.94      1175
           1       0.07      0.15      0.10        53

    accuracy                           0.88      1228
   macro avg       0.52      0.53      0.52      1228
weighted avg       0.92      0.88      0.90      1228

In [36]:
from sklearn.svm import SVC

#write your code here

In [42]:
svc=SVC().fit(X_train,y_train)

In [43]:
y1pred=svc.predict(X_test)

In [44]:
from sklearn.metrics import classification_report

In [45]:
print(classification_report(y1pred, y_test))

              precision    recall  f1-score   support

           0       1.00      0.91      0.95      1228
           1       0.00      0.00      0.00         0

    accuracy                           0.91      1228
   macro avg       0.50      0.46      0.48      1228
weighted avg       1.00      0.91      0.95      1228

C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))